.image-in-list {
    max-width: 150px !important;
}
.images-block {
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.images-block img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    cursor: pointer;
}
.image-block {
    display: flex;
    justify-content: space-around;
}
img.active {
    border: 3px solid #0000ff;
    border-radius: 5px;
}
.cloned-block {
    display: none;
}