body {
    background-color: #eae7e7;
}
/* Settings */
.margin-top-25 {
    margin-top: 25px;
}
a {
    text-decoration: none !important;
}
.hidd {
    display: none;
}
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* Logo */
.logo {
    position: absolute;
}
.logo a {
    left: 15px;
    top: 40px;
    display: inline;
    width: auto;
    position: relative;
    z-index: 20;
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    color: #ffffff;
    text-decoration: none;
}
p.site-slogan {
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    right: 15px;
    text-align: right;
    top: 68px;
    position: absolute;
    z-index: 20;
    white-space: nowrap;
}
/* Locale */
.locale {
    font-size: 14px;
    color: #000;
}
.locale a {
    color: #000;
}
.locale a:hover {
    color: #7d7c7c;
}
/* Authorisation */
.authorisation {
    display: flex;
    list-style: none;
    margin: 0;
}
.authorisation div ~ div{
    margin-left: 15px;
}
/* Likes */
[data-toy-like] {
    cursor: pointer;
}
/* Contacts */
.headline {
    margin-bottom: 20px;
}
/* Messages */
.success-msg {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error-msg {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Comments */
.blog-post-details i {
    margin-right: 5px;
}
.blog-recent-comments {
    margin-top: 15px;
}
.blog-recent-comments li {
}
.comment {
    margin-bottom: 10px;
}
.comment-body {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.comment-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #ccc;
}
.reply {
    cursor: pointer;
    transition: color 200ms;
}
.reply i {
    margin-right: 5px;
}
.reply:hover {
    color: #000;
}
.comment-reply li {
    border: 1px solid #f5f5f5;
    border-radius: 5px !important;
    background-color: #f5f5f5;
}
.comment-reply {
    margin-left: 20px;
}
.comment-reply li ~ li {
    margin-top: 5px;
}
.comment-reply .comment {
    margin-bottom: 0;
}
.comment-reply .comment-body {
    border: 1px solid #fff;
    background-color: #fff;
}
.comment-reply-form {
    display: none;
    z-index: 1;
}
.blog-item-footer .blog-recent-comments .list-group-item {
    border-top: 0 !important;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.comment-footer-left span ~ span {
    margin-left: 10px;
}
.comment-footer-right span ~ span {
    margin-left: 5px;
}

.ctrlSubmit {
    color: #413344;
    margin-left: 5px;
}
