<!-- === BEGIN HEADER === -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link href="favicon.ico" rel="shortcut icon">
    {% block css %}{% endblock %}
    {% block fonts %}{% endblock %}
</head>
<body>
<div id="body_bg">
    <div id="container_header" class="container">
        <div id="header" class="row">
            <div class="col-md-12 margin-top-15">
                <div class="authorisation circle pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="admin">
                            <a href="{{ path('logout') }}" title="Выйти"><i class="fa fa-sign-out fa-2x"
                                                                            aria-hidden="true"></i></a>
                        </div>
                    {% else %}
                        <div class="login">
                            <a href="{{ path('viazushki_login') }}" title="Войти"><i class="fa fa-sign-in fa-2x"
                                                                                     aria-hidden="true"></i></a>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                    <div class="admin">
                        <a href="{{ path('sonata_admin_dashboard') }}" title="Админка"><i class="fa fa-user fa-2x"
                                                                                           aria-hidden="true"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="primary-container-group">
        <div class="primary-container-background">
            <div class="primary-container"></div>
            <div class="clearfix"></div>
        </div>
        <div class="primary-container">
            <!-- === BEGIN HEADER === -->
            <div id="container_hornav" class="container no-padding">
                {% block logo %}{% endblock %}
                {% block slogan %}{% endblock %}
                <div class="row">
                    <div class="hornav-block">
                        <div id="hornav" class="pull-right">
                            {% block topMenu %}{% endblock %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- === END HEADER === -->
            <!-- === BEGIN CONTENT === -->
            <div class="container">
                <div class="row margin-vert-30">
                    {% if app.session.flashBag.has('success_register') %}
                        <div id="success_register" class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success_register') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- === END CONTENT === -->
            <!-- === BEGIN FOOTER === -->
            <div id="base" class="container padding-vert-30">
                <div class="row">
                    {% block footer %}{% endblock %}
                </div>
            </div>
            <div id="footermenu" class="container">
                <div class="row">
                    {% block footerMenu %}{% endblock %}
                </div>
            </div>
            <!-- === END FOOTER === -->
        </div>
    </div>
    <div class="container padding-vert-30">
        <div class="row">
            <div id="copyright">
                {% block copyright %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
