{% extends '@Viazushki/assets.html.twig' %}

{% block title %}Viazushki{% endblock %}

{% block logo %}
    <div class="logo">
        <a href="{{ url('viazushki_homepage') }}">Viazushki</a>
    </div>
{% endblock %}

{% block slogan %}
    <p class="site-slogan">Вязаные игрушки своими руками</p>
{% endblock %}

{% block copyright %}
    <p>&copy; 2017 <a href="{{ url('viazushki_homepage') }}">viazushki.com</a></p>
{% endblock %}
