{% extends '@Viazushki/layers.html.twig' %}

{% block topMenu %}
    {% include '@Viazushki/Includes/_topMenu.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Main Column -->
    <div class="col-md-9">
        <div class="blog-post">
            <div class="blog-item-header">
                <div class="blog-post-date pull-left">
                    <span class="day">14</span>
                    <span class="month">Dec</span>
                </div>
                <h2>
                    <a href="#">A Sample Blog Title</a>
                </h2>
                <div class="blog-post-details">
                    <div class="blog-post-details-item blog-post-details-item-left user-icon">
                        <i class="fa fa-user"></i>
                        <a href="#">Admin</a>
                    </div>
                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags tags-icon">
                        <i class="fa fa-tag"></i>
                        <a href="#">HTML</a>,
                        <a href="#">CSS</a>,
                        <a href="#">Grunt</a>
                    </div>
                    <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last comments-icon">
                        <a href="">
                            <i class="fa fa-comments"></i>
                            3 Comments
                        </a>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="clearfix"></div>
                <div class="blog-post-body row margin-top-15">
                    <div class="col-md-5">
                        <img class="pull-left" src="{{ asset('assets/img/blog/image1.jpg') }}" alt="thumb1">
                    </div>
                    <div class="col-md-7">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum.</p>
                    </div>
                </div>
                <div class="blog-item-footer">
                    <div class="row">
                        <div class="col-md-10">
                            <hr>
                        </div>
                        <div class="col-md-2">
                            <div class="blog-post-details-item blog-post-details-item-right pull-right">
                                <a href="#" class="btn btn-primary">
                                    Read More
                                    <i class="icon-chevron-right readmore-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li class="disabled">
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- End Main Column -->
    <!-- Side Column -->
    <div class="col-md-3 margin-top-30">
        <div class="blog-tags">
            <h3>Tags</h3>
            <ul class="blog-tags">
                <li>
                    <a href="#" class="blog-tag">HTML</a>
                </li>
            </ul>
        </div>
        <div class="recent-posts">
            <h3>Recent Posts</h3>
            <ul class="posts-list margin-top-10">
                <li>
                    <div class="recent-post">
                        <a href="">
                            <img class="pull-left" src="{{ asset('assets/img/blog/thumbs/thumb1.jpg') }}" alt="thumb1">
                        </a>
                        <a href="#" class="posts-list-title">Sidebar post example</a>
                        <br>
                        <span class="recent-post-date">July 30, 2013</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Side Column -->
{% endblock %}

{% block footer %}
    {% include '@Viazushki/Includes/_footer.html.twig' %}
{% endblock %}

{% block footerMenu %}
    {% include '@Viazushki/Includes/_footerMenu.html.twig' %}
{% endblock %}
