<ul class="list-unstyled list-inline">
    <li>
        <a href="#" target="_blank">Sample Link</a>
    </li>
    <li>
        <a href="#" target="_blank">Sample Link</a>
    </li>
    <li>
        <a href="#" target="_blank">Sample Link</a>
    </li>
    <li>
        <a class="fa-shopping-cart" href="#" target="_blank">Sample Link</a>
    </li>
</ul>
<div class="clearfix"></div>
