<div id="copyright">
    <p>&copy; 2018 <a href="{{ url('viazushki_homepage') }}">viazushki.com</a></p>
</div>
{#<ul class="li#}{#st-unstyled list-inline">#}
    {#<li>#}
        {#<a href="#" target="_blank">Sample Link</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="#" target="_blank">Sample Link</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="#" target="_blank">Sample Link</a>#}
    {#</li>#}
    {#<li>#}
        {#<a class="fa-shopping-cart" href="#" target="_blank">Sample Link</a>#}
    {#</li>#}
{#</ul>#}
<div class="clearfix"></div>
