<ul id="hornavmenu" class="nav navbar-nav">
    <li>
        <a href="{{ url('viazushki_homepage') }}">Домашняя</a>
    </li>
    <li>
        <a href="{{ url('viazushki_contacts') }}">Контакты</a>
    </li>
</ul>
