<div>
    <h3>Запрос на смену пароля</h3>
    <p>Для смены пароля перейдите по ссылке: <a href="{{ url('viazushki_forgot_password', {'forgotKey': forgotKey}) }}">Сменить пароль</a></p>
    <p>Если Вы не создавали запрос на смену пароля, просто проигнорируйте это письмо!</p>
</div>