<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Сообщение от Viazushki.in.ua</title>
</head>
<body>
    <h3>Спасибо за подписку</h3>
    <p style="color: #ff1a23;">Мы будем высылать Вам уведомления о новых добавлениях на нашем сайте.</p>
    <a href="{{ url('viazushki_unsubscribe', {'unsubscribeKey': unsubscribeKey}) }}">Отписатся</a>
</body>
</html>